# Python
.venv/
__pycache__/
*.pyc
.pytest_cache/

# Environment variables
.env

# Raw and external data
data/raw/*
!data/raw/.gitkeep
!data/raw/BeautyGraph_Dataset.xlsx

data/external/*
!data/external/.gitkeep

# IDE / operating system
.vscode/
.idea/
.DS_Store
Thumbs.db